<?xml version="1.0"?>

<configuration>
    <configSections>
        <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Default" connectionString="Data Source={{DATABASE_NAME}};Initial Catalog=MiniBlog;Persist Security Info=True;User ID={{WEBUSER}};Password={{WEBUSER_PASSWORD}}" providerName="System.Data.SqlClient"/>
        
    </connectionStrings>
    <system.web.webPages.razor>
        <pages pageBaseType="MiniBlog.Framework.WebView">
            <namespaces>
                <!--add namespaces to automatically include in Razor .cshtml views-->
                <add namespace="ASP.Helpers"/>
                <add namespace="MiniBlog.Framework"/>
                <add namespace="MiniBlog.Extensions"/>
                <add namespace="System.Web.WebPages"/>
                <add namespace="StackExchange.Profiling"/>
            </namespaces>
        </pages>
    </system.web.webPages.razor>

    
    <system.webServer>
        <handlers>
            <!--this is to allow MiniProfiler to work with runAllManagedModulesForAllRequests set to false-->
            <add name="MiniProfiler" path="mini-profiler-resources/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />
        </handlers>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="false">
            <!--removes  "Server" HTTP Header-->
            <add name="RmoveHeaderModule" type="MiniBlog.Includes.Web.RemoveHeaderModule, MiniBlog.Includes"/>
        </modules>
        <rewrite>
            <rules>
                <rule name="Canonical Host Name" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" negate="false" pattern="^www\.tech\.com$" />
                    </conditions>
                    <action type="Redirect" url="http://tech.com/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Cancel for non-post pages" stopProcessing="true">
                    <match url="^(ajax|admin|category|asset|mini-profiler-resources|feed)/(.*)" />
                </rule>
                <rule name="Rewrite for tag page" stopProcessing="true">
                    <match url="^tag/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="tag.cshtml?tag={R:1}" />
                </rule>
                <rule name="Rewrite for archive page" stopProcessing="true">
                    <match url="^(\d{4})/(\d{1,2})" />
                    <action type="Rewrite" url="archive.cshtml?year={R:1}&amp;month={R:2}" />
                </rule>
                <rule name="Rewrite for post slug" stopProcessing="true">
                    <match url="^([_0-9a-z-]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="post.cshtml?slug={R:1}" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By"/>
            </customHeaders>
        </httpProtocol>
        <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
            <dynamicTypes>
                <add mimeType="text/*" enabled="true"/>
                <add mimeType="message/*" enabled="true"/>
                <add mimeType="application/javascript" enabled="true"/>
                <add mimeType="*/*" enabled="false"/>
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/*" enabled="true"/>
                <add mimeType="message/*" enabled="true"/>
                <add mimeType="application/javascript" enabled="true"/>
                <add mimeType="*/*" enabled="false"/>
            </staticTypes>
        </httpCompression>
        <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
        <caching>

        </caching>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
            <remove fileExtension=".js" />
            <mimeMap fileExtension=".js" mimeType="text/javascript" />
        </staticContent>
    </system.webServer>

    <system.web>
        <httpModules>
            <!-- Remove unnecessary Http Modules for faster pipeline -->
            <remove name="Session" />
            <remove name="WindowsAuthentication" />
            <remove name="PassportAuthentication" />
            <remove name="AnonymousIdentification" />
            <remove name="UrlAuthorization" />
            <remove name="FileAuthorization" />
        </httpModules>
        <httpRuntime enableVersionHeader="false" requestValidationMode="2.0" />

        <sessionState mode="Off" />
        <!--<customErrors redirectMode="ResponseRewrite" mode="RemoteOnly" defaultRedirect="error" />-->

        <authentication mode="Forms">
            <forms
              defaultUrl="~/admin/"
              enableCrossAppRedirects="false"
              loginUrl="~/admin/login"
              protection="All"
              requireSSL="false"
              timeout="2880"
              name="auth"
        />
        </authentication>
        <membership defaultProvider="MiniBlogMembershipProvider" >
            <providers>
                <clear/>
                <add name="MiniBlogMembershipProvider"
                     type="MiniBlog.Framework.MiniBlogMembershipProvider"/>
            </providers>
        </membership>
        <machineKey
              validationKey="AutoGenerate,IsolateApps"
              validation="HMACSHA512"
              decryptionKey="AutoGenerate,IsolateApps"
              decryption="AES"
          />
        <compilation debug="false" targetFramework="4.0" >
            <assemblies>
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
    </system.web>
    <appSettings>
        <add key="webpages:Enabled" value="true" />
        <add key="enableSimpleMembership" value="false"/>
        <add key="autoFormsAuthentication" value="false"/>
    </appSettings>
</configuration>
