@{
    
}
@section head {
    <style type="text/css">
        #settings-tbl td input {
            margin: 0px;
            margin-top: -4px;
            border: none;
            box-shadow: none;
            width: 100%;
        }
        #settings-tbl td {
            padding-top: 12px;
        }
        #settings-tbl td .btn {
            margin-top: -4px;
        }
    </style>
}
<h1>MiniBlog Global Settings</h1>

<p>Below are all of the settings configurable for MiniBlog.  Update these values at your own risk.</p>

<table id="settings-tbl" class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Value</th>
            <th>Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <!-- ko template: {name: 'setting-template', foreach: settings} -->
        <!-- /ko -->
        <tr data-bind="with: newSetting">
            <td><input data-bind="value: name, valueUpdate: 'afterkeydown'" /></td>
            <td><input data-bind="value: description, valueUpdate: 'afterkeydown'" /></td>
            <td><input data-bind="value: value, valueUpdate: 'afterkeydown'" /></td>
            <td><input style="width:20px;" data-bind="value: type, valueUpdate: 'afterkeydown'" /></td>
            <td><button class="btn" href="#" data-bind="enable: isValid, click: $parent.addSetting"><i class="icon-plus" ></i> Add</button></td>
        </tr>
    </tbody>
</table>
@Knockout.StartTemplate("setting-template")
<tr>
    <td><b data-bind="text: name"></b></td>
    <td data-bind="text: description"></td>
    <td><input data-bind="value: value, valueUpdate: 'afterkeydown'"/></td>
    <td style="text-align: center;" data-bind="text: displayType"></td>
    <td>
        <button class="btn" href="#" data-bind="enable: dirtyFlag.isDirty, click: $parent.update"><i class="icon-ok" ></i> Save</button>
        <button class="btn" href="#" data-bind="enable: !dirtyFlag.isDirty(), click: $parent.remove"><i class="icon-remove" ></i></button>
    </td>
</tr>
@Knockout.EndTemplate()

<a class="btn" data-bind="click: refreshCache">Clear Settings Cache</a>

@section script {
    <script src="@Href("~/asset/js/mb.admin.settings.chirp.js")" type="text/javascript"></script>
}